.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Adjust gap as needed */
    padding: 20px;
    /* Adjust padding as needed */
    /* light brown background from theme */
    background-color: #fdf2eb;
    min-height: 100vh;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Adjust gap between items */
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    /* Example styling */
    border-radius: 5px;
    /* Example styling */
}

.cart-item img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-right: 1rem;
}

.checkout-button {
    margin-top: 20px;
    /* Adjust margin as needed */
}